ask-btn {
      display: inline-block;
      margin-left: 100px;
      padding: 10px;
     }

.question {
	border: solid 1px lightgrey;
	margin-bottom: 20px;
	padding: 20px 0px;
}



.browse-button { 
    cursor: pointer;
    float: left;
    overflow: hidden;
    position: relative;
    margin-right: 43px;
    
}
.browse-button input[type="button"] { 
    cursor: pointer;
   
}
.browse-button input[type="file"] { 
    width: 150px; 
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}