<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ask Kopytov</title>
    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet"  href="../static/style.css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    
  </head>

  <body>


			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="/">Ask Kopytov</a>

					<form class="navbar-form pull-left">
					  <input type="text" class="span2">
					  <button type="submit" class="btn">Submit</button>
					</form>

					<a href="/ask/" class="btn offset7">ASK!</a>
			  </div>
			</div>

            <div class="container">
                         
                <div class="row">

                    <div class="span9">

                      {% block main %}

                      {% endblock %}
                        

                    </div>

                    <div class="span3">
                        <div> 
                          <h3>Popular tags</h3>
                          {% for i in "12345" %} 
                          <a href="#">Mail</a>
                          <a href="#">Django</a>
                          <a href="#">Apache2</a>
                          <a href="#">nginx</a>
                          <a href="#">python</a>
                          <a href="#">python</a>
                          <a href="#">python</a>
                          {% endfor %}
                        </div>
                    
                        <div>
                        	<h3>Cool users</h3>
                        	<ul>
                        	  <li>Me</li>
                        	  <li>Sahsa</li>
                        	  <li>Lee</li>
                        	  <li>Maria</li>
                        	  <li>Chou</li>                        		
                        	</ul>
                        </div>

                    </div>
                </div>

            </div>
    
  
  </body>
</html>
