<!DOCTYPE html>
<html lang="en">
  <head>
    <title>dssd</title>
    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet"  href="../static/style.css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    
  </head>

  <body>


			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="/">Ask Kopytov</a>

					<form class="navbar-form pull-left">
					  <input type="text" class="span2">
					  <button type="submit" class="btn">Submit</button>
					</form>

					<a href="/ask/" class="btn offset7">ASK!</a>
			  </div>
			</div>

            <div class="container">
                         
                <div class="row">

                    <div class="span9">
                        <h2>Best questions</h2>
                      
                        {% for i in "12345" %} 

                        <div class="question row">
                            <div class="span2">
                                <img src="http://lorempixel.com/150/150/" class="img-polaroid">
                                          	
                            </div>

                            <div class="span6">
                                <h4><a href="#">How to build lunepark?</a></h4>
                                <p>Some text....</p>
                                    <div>
                                        <a href="#">Answer:
                                          <span class="badge">33</span>
                                        </a>
                                        Tags, What's it?
                            	    </div>                     	
                            </div>                           
                        </div>

                        <div class="question row">
                            <div class="span2">
                                <img src="http://lorempixel.com/150/150/" class="img-polaroid">
                                            
                            </div>

                            <div class="span6">
                                <h4><a href="#">How to build lunepark?</a></h4>
                                <p>Some text....</p>
                                    <div>
                                        <a href="#">Answer:
                                          <span class="badge">33</span>
                                        </a>
                                        Tags, What's it?
                                  </div>                      
                            </div>                           
                        </div>
                        {% endfor %}

						<div class="pagination">
						  <ul>
						    <li><a href="#">Prev</a></li>
						    <li><a href="#">1</a></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li><a href="#">Next</a></li>
						  </ul>
						</div>

                    </div>

                    <div class="span3">

                        <div> 
                          <h3>Popular tags</h3>
                          <a href="#">Mail</a>
                          <a href="#">Django</a>
                          <a href="#">Apache2</a>
                          <a href="#">nginx</a>
                          <a href="#">python</a>
                        </div>
                        <div>
                        	<h3>Cool users</h3>
                        	<ul>
                        	  <li>Me</li>
                        	  <li>Sahsa</li>
                        	  <li>Lee</li>
                        	  <li>Maria</li>
                        	  <li>Chou</li>                        		
                        	</ul>
                        </div>

                    </div>
                </div>

            </div>
    
  
  </body>
</html>
