{% extends "base.html" %}

{% block main %}
<div class="row">
  <div class="span5 offset1">
  	<h3>Log in</h3>
  	<p class="text-error">Sorry, wrong password!</p>
  </div>
</div>


<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Login</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Enter your login here">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="********">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      
   
      <button type="submit" class="btn">Log in!</button>

    </div>
  </div>
</form>

<div class="row">
  <div class="span5 offset1">
    <a href="#">create new account</a>
  </div>
</div>

{% endblock %}  