{% extends "base.html" %}

{% block main %}

<div class="row">
  <div class="span5 offset1">
  	<h3>Registration</h3>
  	<p class="text-error">Sorry, this e-mail address already registed!</p>
  </div>
</div>

<form class="form-horizontal">

 <div class="control-group">
    <label class="control-label" for="inputEmail">Login</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Your login">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="kopytovsv@gmail.com">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Nickname</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Nickname">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="******">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Repeat password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="******">
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="inputPassword">Avatar</label>
    <div class="controls">
      <input class="input-small"  id="inputPassword" type="text" placeholder="">
      <div class="browse-button">
            <input class="btn" type="button" value="Browse">
            <input type="file" for="inputPassword" >
      </div>
    </div>
  </div>


  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Register!</button>
    </div>
  </div>


</form>



{% endblock %}  
