<div class="question row">
    <div class="span2">
        <img src="http://lorempixel.com/150/150/" class="img-polaroid">
                  	
    </div>

    <div class="span6">
        <h4><a href="#">How to build lunepark?</a></h4>
        <p>Some text....</p>
            <div>
                <a href="#">Answer:
                  <span class="badge">33</span>
                </a>
                Tags, What's it?
    	    </div>                     	
    </div>                           
</div>